<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../javascripts/jsrsasign.js"></script>
    <script src="../javascripts/signMessage.js"></script>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div>
        <% if (typeof register_success_msg !== 'undefined' && register_success_msg.length > 0){ %>
            <div class="alert__success">
                <%= register_success_msg %>
                    <% } %>
            </div>
            <% if (typeof publickey_success_msg !== 'undefined' && publickey_success_msg.length > 0){ %>
                <div class="alert__success">
                    <%= publickey_success_msg %>
                        <% } %>
                </div>
                <% if (typeof msg_sign_success !== 'undefined' && msg_sign_success.length > 0){ %>
                    <div class="alert__success">
                        <%= msg_sign_success %>
                            <% } %>
                    </div>
    </div>
    <form method="POST" id="genKeyForm" action="/genkey">
        <p>Generate Key Pair</p>
        <input type="submit" value="Generate">
        <input type="hidden" name="user" value=<%=user%>>
    </form>
    <form method="POST" id="pubKeyForm" action="/storekey">
        <p>Store Public Key</p>
        <input type="text" name="publickey" id="pbk" placeholder="Public Key">
        <input type="hidden" name="user" value=<%=user%>>
        <input type="submit" value="Set">
    </form>
    <form method="POST" id="messageForm" action="/sign">
        <p>Sign Message</p>
        <input type="text" name="private_key" id="prvkey" placeholder="Private Key"><br>
        <input type="text" name="message" id="msg" placeholder="Message"><br>
        <input type="text" name="signed_message" placeholder="Signed Message" value=<%=signed_msg%>>
        <input type="submit" id="submitmsg" value="Sign">
    </form>
    <script>
        function clearText() {
            for (var i = 10; i >= 0; i--) {
                if (i == 1) {
                    $('div.alert__fail').fadeOut();
                    $('div.alert__success').fadeOut();
                }
            }
        }
        window.setTimeout(() => {
            clearText();
        }, 1000);
    </script>
</body>

</html>