<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body>
    <div class="button">
        <a href="/">
            <button>Home</button>
        </a>
    </div>
    <h1>
        <%= title %>
    </h1>
    <div>
        <% if (typeof register_success_msg !== 'undefined' && register_success_msg.length > 0){ %>
            <div class="alert__success">
                <%= register_success_msg %>
                    <% } %>
            </div>
            <% if (typeof publickey_success_msg !== 'undefined' && publickey_success_msg.length > 0){ %>
                <div class="alert__success">
                    <%= publickey_success_msg %>
                        <% } %>
                </div>
                <% if (typeof msg_sign_success !== 'undefined' && msg_sign_success.length > 0){ %>
                    <div class="alert__success">
                        <%= msg_sign_success %>
                            <% } %>
                    </div>
    </div>
    <div id="forms">
        <form method="POST" id="genKeyForm" action="/genkeys">
            <p>Generate Key Pair</p>
            <input type="hidden" name="username" value=<%=username%>>
            <input type="submit" value="Generate">
        </form>
        <form method="POST" id="pubKeyForm" action="/storekey">
            <p>Store Public Key</p>
            <input type="hidden" name="username" value=<%=username%>>
            <input type="text" name="publickey" id="pbk" placeholder="Public Key">
            <input type="submit" value="Set">
        </form>
        <form method="POST" id="messageForm" action="/signmsg">
            <p>Sign Message</p>
            <input type="hidden" name="username" value=<%=username%>>
            <input type="text" name="message" id="msg" placeholder="Message"><br>
            <input type="text" name="signed_message" placeholder="Signed Message" value=<%=signed_msg%>>
            <input type="submit" value="Sign">
        </form>
    </div>
    <script>
        function clearText() {
            for (var i = 10; i >= 0; i--) {
                if (i == 1) {
                    $('div.alert__fail').fadeOut();
                    $('div.alert__success').fadeOut();
                }
            }
        }
        window.setTimeout(() => {
            clearText();
        }, 1000);
    </script>
</body>

</html>