<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body>
    <div class="button">
        <a href="/">
            <button>Home</button>
        </a>
    </div>
    <h1>
        <%= title %>
    </h1>
    <div>
        <% if (typeof msg_verify_success !== 'undefined' && msg_verify_success.length > 0){ %>
            <div class="alert__success">
                <%= msg_verify_success %>
                    <% } %>
            </div>
            <% if (typeof msg_verify_fail !== 'undefined' && msg_verify_fail.length > 0){ %>
                <div class="alert__fail">
                    <%= msg_verify_fail %>
                        <% } %>
                </div>
    </div>
    <div id="forms">
        <form method="POST" id="verifyForm" action="/verify">
            <p>Verify Signed Message</p>
            <input class="inputs" type="text" name="message" placeholder="Message">
            <input class="inputs" type="text" name="signature" placeholder="Signature">
            <input class="inputs" type="text" name="username" placeholder="Signer's Username">
            <% if (verification == null){ %>
                <input class="inputs" type="text" name="verification" placeholder="Verified" value="">
                <% } else if (verification == false){ %>
                    <input class="inputs" type="text" name="verification" placeholder="Verified" value="Unverified! This message was not signed by <%= username %>.">
                    <% }else if (verification == true){ %>
                        <input class="inputs" type="text" name="verification" placeholder="Verified" value="Verified! This message was signed by <%= username %>.">
                        <% } %>
                            <input type="submit" value="Sign">
        </form>
    </div>
    <script>
        function clearText() {
            for (var i = 10; i >= 0; i--) {
                if (i == 1) {
                    $('div.alert__fail').fadeOut();
                    $('div.alert__success').fadeOut();
                }
            }
        }
        window.setTimeout(() => {
            clearText();
        }, 3000);
    </script>
</body>

</html>